/* Reset some default styling */
body, html, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color:#ebf4ff; /* Change background color to light blue */
  background-image: url('leaflet/images/background.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* This will cover the entire body with the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
}


h1{
  padding: 11px;
  width: 100%;
  color: #fff;
  text-align: center;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto; /* Take the entire screen width */
  margin-bottom: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .return-icon {
  width: 70px;
  height: auto;
  margin-right: 10px;
  /* Adjust the width, height, and margin as needed */
}

.navbar-center {
  flex-grow: 1;
  text-align: center; /* Center text horizontally */
}

.navbar-center h1 {
  font-size: 24px; /* Adjust font size as needed */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .profile-picture{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.navbar-right .logout-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /* Adjust the width, height, and margin as needed */
}

.navbar-right .admin-settings-picture {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /* Adjust the width, height, and margin as needed */
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}

.dropdown-container {
  width: 30%; 
  padding: 40px;

  background: #ebf4ff; 
  border-radius: 20px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
  display: flex;
  align-items: center; 
  gap: 10px; 
  color: #BD634E;

  position: relative;
}

.column {
  width: 100%; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="number"],
select {
  width: 80%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #BDBDBD;  
  border-radius: 5px;
  background: #FAFAFA; 
  color: black;
}



button {
  padding: 8px 10px;
  background-color: #6B9DDA;  
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #009476;  
}

button:active {
  background-color: #CDB494; 
}

.success-message {
  color: #4CAF50;  
}

.error-message {
  color: #F44336;  
}

/* Style for the product suggestions container */
#product-suggestions {
  top: 100%;
  left: 0;
  width: 250px;
  max-height: 200px;
  overflow-y:scroll;
  border: 1px solid #ccc;
  background-color: #fff;
  z-index: 1000; /* Ensure it appears above other elements */
  /* Add any other necessary styles */
  margin-bottom: 10px;
}

/* Style for each suggestion item */
.product-suggestion {
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  /* Add any other necessary styles */
}

/* Style for suggestion item on hover */
.product-suggestion:hover {
  background-color: #f0f0f0;
  /* Add any other necessary styles */
}

/* Style for the "No matching products found" message */
.no-results-message {
  padding: 8px;
  color: #888;
  /* Add any other necessary styles */
}
