/* Reset default margin and padding */
body, h1, h2, form {
  margin: 0;
  padding: 0;
}

/* Basic styling for the body */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

/* Page header styles */
h1 {
  text-align: center;
  padding: 20px 0;
  background-color: #D7D7D9;
  color: #DEA77E;
}

/* Form styling */
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Form header styles */
h2 {
  margin-top: 20px;
}

/* Form label styles */
label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

/* Input field styles */
input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 6px; /* Adjusted padding */
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* Submit button styles */
button[type="submit"] {
  padding: 10px 20px;
  background-color: #DEA77E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

button[type="submit"]:hover {
  background-color: #DEA77E;
}

/* List styles for user likes and dislikes */
ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

ul li {
  margin-bottom: 5px;
}

/* List styles for user offers */
#user-offers ul {
  list-style-type: none;
  padding: 0;
}

#user-offers li {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

#user-offers img {
  max-width: 100px;
  margin-right: 10px;
}

/* List styles for user likes and dislikes */
#user-likes ul,
#user-dislikes ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#user-likes li,
#user-dislikes li {
  margin-bottom: 5px;
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

#user-likes img,
#user-dislikes img {
  max-width: 50px;
  margin-right: 10px;
}

#user-likes .offer-info,
#user-dislikes .offer-info {
  flex: 1;
}

/* Styling for user score and tokens */
#user-score,
#user-tokens {
  margin-top: 20px;
  text-align: center;
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#user-score h2,
#user-tokens h2 {
  margin-bottom: 10px;
}

#user-score p,
#user-tokens p {
  font-size: 18px;
}