body, h1, h2, form {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
  background-image: url('leaflet/images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto;
  margin-bottom: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .return-icon {
  width: 70px;
  height: auto;
  margin-right: 10px;
}

.navbar-center {
  flex-grow: 1;
  text-align: center;
}

.navbar-center h1 {
  font-size: 24px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .profile-picture{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.navbar-right .logout-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

.navbar-right .admin-settings-picture {
  width: 30px;
  height: 30px;
  margin-left: 10px;
}

form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.form-container h2 {
  text-align: center;
}

#change-username-form button{
  align-items: center;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 6px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #DEA77E;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}


button[type="submit"]:hover {
  background-color: #DEA77E;
}

.response-message {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.success-message {
  color: green;
}

.error-message {
  color: red;
}
