/* Reset some default styling */
body, html, ul, li, h1, h2, h3, p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color:#ebf4ff; /* Change background color to light blue */
  background-image: url('leaflet/images/background.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* This will cover the entire body with the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  
}

a {
  text-decoration: none;
  color: white;
}
/* Page header styles */
h1{
  padding: 11px;
  width: 100%;
  color: #fff;
  text-align: center;
}


.navbar {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: auto; /* Take the entire screen width */
  margin-bottom: 20px;
}

.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left .return-icon {
  width: 70px;
  height: auto;
  margin-right: 10px;
  /* Adjust the width, height, and margin as needed */
}

.navbar-center {
  flex-grow: 1;
  text-align: center; /* Center text horizontally */
}

.navbar-center h1 {
  font-size: 24px; /* Adjust font size as needed */
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar-right .profile-picture{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  border-radius: 50%;
}
.navbar-right .logout-icon {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /* Adjust the width, height, and margin as needed */
}

.navbar-right .admin-settings-picture {
  width: 30px;
  height: 30px;
  margin-left: 10px;
  /* Adjust the width, height, and margin as needed */
}

  
#profileForm {
  text-align: center;
  max-width: 400px;
  height: 250px;
  margin: auto;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 20px;
  background-color: #F2F2F0;
  border: 1px solid #e0e0e0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.form-group {
  display: flex;
  align-items: center;
  padding: 5px;
}

#user-score,
#user-Mscore,
#user-tokens{
  padding-left: 10px;
}

/* Input field styles */
.input-label {
  text-align: left;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"],
input[type="email"] {
  width: 60%; /* Adjust the width as needed */
  padding: 5px;
  margin: 5px;
  border: 1px solid #DEA77E;
  border-radius: 4px;
}

.edit-profile{
  margin-top: 15px;
}
.edit-profile a{
  color: black;
  border: 1px solid #333;
  border-radius: 4px;
  background-color: #DEA77E;
  padding: 5px;
}

.likes-dislikes-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.likes-dislikes {
  flex-basis: calc(50% - 10px); /* Divide the container into two equal parts with 10px spacing in between */
}

#user-offers ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Allow elements to wrap into a new row when necessary */
  justify-content: space-between; /* Create space between columns */
  margin-left: 10px;
  margin-right: 10px;
}

#user-offers li {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  width: calc(50% - 10px); /* Set the width of each item to 50% minus spacing */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  overflow:visible;
}

#user-offers img {
  max-width: 100px;
  margin-right: 10px;
}

#user-likes,
#user-dislikes{
 padding-left: 20px;
}

/* List styles for user likes and dislikes */
#user-likes ul,
#user-dislikes ul {
  list-style: none;
  margin: 10px 0;
  padding: 0;
}

#user-likes li,
#user-dislikes li {
  margin-bottom: 5px;
  background-color: #f9f9f9;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  width: auto;
  overflow: visible;
}

#user-likes img,
#user-dislikes img {
  max-width: 50px;
  margin-right: 10px;
}

#user-likes .offer-info,
#user-dislikes .offer-info {
  flex: 1;
}

.likes-dislikes h2, .user-offers-container h2{
  text-align: center;
}