
  /* Basic styling for the body */
  body {
    margin: 0px;
    font-family: Arial, sans-serif;
    background-color: #E3DED8;
    color: #2c3e50;
  }
  
  /* Page header styles */
  h1 {
    margin: 0px;
    text-align: center;
    padding: 20px;
    background-color:#D7D7D9;
    color: #DEA77E;
  }
  
  /* Form styling */
  form {
    text-align: center;
    max-width: 400px;
    height: 250px;
    margin: auto;
    padding: 15px;
    background-color: #F2F2F0;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Form label styles */
  label {
    display: block;
    font-weight: bold;
    margin-top: 5px;
    color: #DEA77E;
  }
  
  /* Input field styles */
  input[type="text"],
  input[type="password"],
  input[type="email"] {
    width: 40%;
    padding: 5px;
    margin: 5px;
    border: 1px solid #DEA77E;
    border-radius: 4px;
  }
  
  /* Navigation links styles */
  ul {
    padding: 5px;
    text-align: center;
  }
  
  ul li {
    display: inline-block;
    padding: 5px
  }
  
  ul li a {
    text-decoration: none;
    color: #415039;
  }

  ul li a:hover {
    color: #3498db; /* Slightly lighter blue for hover state */
}
  
  ul li a:active {
    color: #53793f;
  }