
  * {box-sizing: border-box}

body{
    text-align: center;
  background-color:#ebf4ff; /* Change background color to light blue */
  background-image: url('../after-login/leaflet/images/background.jpg'); /* Replace 'your-image.jpg' with the path to your image */
  background-size: cover; /* This will cover the entire body with the background image */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh; /* This ensures the container is centered vertically */
  margin: 0; /* Remove default body margin */
}
    

  /* Add padding to containers */
  .container {
    padding: 16px;
    width: 25%;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  /* Full-width input fields */
  input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/register button */
  button[type=button]{
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
   
  
  }

  button[type=button]:hover{
    opacity:1;
  }
   
  button[type=button]:active{
    color:#B2FFDA;
  }

  .form-message{
    background-color: rgb(255, 255, 255);
    display: none;
    font-size: 16px;
    font-weight: bold;
    margin-left: 80px;
    margin-bottom: 10px;
    padding: 10px 25px;
    max-width: 250px;
  
  }

  .form-message p:first-child{
    margin: 0;
    color: green;
  }

  .form-message p:nth-child(2){
    margin: 0;
    color: red
  }

 h2{
  text-align: center;
  }

 p{
    text-align: center;
  }


